@font-face {
  font-family: 'IranYekan-Regular';
  src: url('assets/fonts/IRANYekanWebRegular.woff2') format('woff2');
}

@font-face {
  font-family: 'IranYekan-Bold';
  src: url('assets/fonts/IRANYekanWebBold.woff2') format('woff2');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}


.va_m {
  vertical-align: middle;
}

.bold {
  font-weight: 600;
}

body {
  font-family: 'IranYekan-Regular';
  direction: rtl;
}

.padder_10 {
  padding: 10px;
}

button {
  cursor: pointer;
  font-family: 'IranYekan-Regular';
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
